<div class="flex-page-index">
  <div class="container-index">
    <div class="container show-post">
      <div class="btn-toggle">
        <button id="photo-post">Photo</button>
        <button id="album-post">Album</button>
      </div>
      <div class="row card-new-feed">
        <!-- just one -->
    
          <div class="card mb-3" style="max-width: 450px;">
            <div class="row no-gutters">
              <div class="col-lg-6"  data-toggle="modal" data-target="#myModalPhoto">
                 <%= image_tag("galaxy.png") %>
              </div>
              <div class="col-lg-6">
                <div class="card-body">
                  <div class="name-user-card">
                     <%= image_tag("name.png") %>
                    <a href="">An Vu</a>
                  </div>
                  
                  <h5 class="card-title">Hello world</h5>
                  <p class="card-text content-title">This is a widTad adad adada dda dadhis is a wider cardThis is a wider carder card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="footer-card">
                    <p class="card-text"><i class="fa-solid fa-heart"></i> <span>12</span></p>
                    <p class="card-text"><%= Time.now().strftime("%H:%M %P %d/%m/%Y")%></p>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        
        
        <!-- >= 2 -->
        <!-- <div class="col-md-6  col-lg-6">
          <div class="card mb-3" style="max-width: 450px;">
            <div class="row no-gutters">
              <div class="col-lg-6">
                <img src="/assets/name.png" alt="...">
              </div>
              <div class="col-md-12 col-lg-6">
                <div class="card-body">
                  <div class="name-user-card">
                    <img src="/assets/naruto.jpeg" alt="...">
                    <a href="">An Vu</a>
                  </div>
                  
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text content-title">This is a widTad adad adada dda dadhis is a wider cardThis is a wider carder card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="footer-card">
                    <p class="card-text"><i class="fa-solid fa-heart"></i></p>
                    <p class="card-text"><%= Time.now().strftime("%H:%M %P %d/%m/%Y")%></p>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div> -->

      </div>
    
    
    
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
</div>












 
