   <!-- Modal -->
     <!-- Modal photo -->
     <div class="modal-photo"  onclick="removeContentModal(this)">
      <div class="modal fade" id="myModalPhoto" tabindex="-1" role="dialog" aria-labelledby="myModalPhotoLabel">
        <div id="modal-photo-dialog" class="modal-dialog" role="document">

        </div>
      </div>
     </div>

    <!-- Modal album -->
    <div class="modal-album" onclick="removeContentModal(this)">
      <div class="modal fade" id="myModalAlbum" tabindex="-1" role="dialog" aria-labelledby="myModalAlbumLabel">
        <div id="modal-album-dialog"  class="modal-dialog" role="document">
        
        </div>
      </div>
    </div>
    
